html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: black;
  font-size: 16px;
}

a,
button,
span,
p,
input,
li,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

textarea {
  resize: none;
}
